<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
</head>

<body>
    <p>Hi Everyone, Welcome to this Registration page</p>
    <p>Day of week is {{dayOfWeek}}</p>
    <p>Current time is {{current_time}}</p>

    <div class="centered">
        <form action="/submit", method="POST">
            <label for="name">Name</label>
            <input style="margin-bottom: 10px;" type="text" name="name" id="name" placeholder="Enter your name">
            <br>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Enter your password">
            <br>
            <input style="margin-left: 42px; margin-top: 20px;" type="submit" value="Submit">
        </form>
        <a href="get_data"><button>View Data</button></a>
    </div>
</body>

<style>
    body {
        background-color: whitesmoke;
    }

    p {
        text-align: center;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
    }

    .centered {
        margin: auto;
        width: 50%;
        border: 3px, solid green;
        padding: 10px;
    }
</style>

</html>